<!DOCTYPE html>
<html lang="ru">
<header>

    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/static/images/favicon.png}"/>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</header>
<body>
<div class="container" th:if="${invNumber}">
    <div class="row">
        <div class="col-4  text-center">
            <img th:src="'/rest/barcodes/zxing/code128/' + ${invNumber.invNumber}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-4  text-center">
            <div class="h4 " th:text="${invNumber.invNumber}">311002253</div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2  text-center">
            <div  th:text="${invNumber.name}">Наимнование имущества</div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<!--для печати на принтере этикеток вставлять разрыв-->
<!--<div style="page-break-before:always;">&ndash;&gt;-->
<!--    СТРАНИЦА 2-->
<!--</div>-->
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<!--my script-->
<script src="/static/js/script.js"></script>
</body>
</html>




