<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: header"></head>

<body class="bg-gray">

<div th:replace="common :: topnavbar"></div>

<div class="container-fluid ">
    <div class="row ">
        <div class="col-2 p-0 ">
            <div th:replace="common :: leftnavbar"></div>

        </div>
        <div class="col pt-4">
            <h3>Файлы печатных форм накладных перемещения:</h3>

            <ul th:each="file : ${fileList}">
                <a th:href="@{'/download?fileName=' + ${file}}"><li th:utext="${file}"></li></a>
            </ul>
            <script language="JavaScript">
                 setTimeout('document.location.href="/download?fileName=output.zip"',1000);
            </script>
        </div>
    </div>
</div>

<div th:replace="common :: footer"></div>

</body>
</html>