<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: header"></head>
<body class="bg-gray">

<div th:replace="common :: topnavbar"></div>

<div class="container-fluid ">
    <div class="row ">
        <div class="col-2 p-0 ">
            <div th:replace="common :: leftnavbar"></div>

        </div>
        <div class="col pt-4">
            <h3>Uploaded Files:</h3>

            <ul th:each="file : ${uploadedFiles}">
                <li th:utext="${file.name}"></li>
            </ul>
            <ul>
                <li th:utext="${obj_count} + '  lines was added'"></li>
            </ul>
            <h3 th:if="${#lists.size(failedFiles) > 0}">Failed:</h3>
            <ul th:each="file : ${failedFiles}">
                <li style="color:red;" th:utext="${file}"></li>
            </ul>

        </div>
    </div>
</div>

<div th:replace="common :: footer"></div>

</body>
</html>