<div th:replace="common :: header"></div>

<div th:replace="common :: topnavbar"></div>

<div class="container-fluid ">
    <div class="row ">
        <div class="col-2 p-0 ">
            <div th:replace="common :: leftnavbar"></div>


        </div>
        <div class="col pt-4">
            <h3>Список имущества:</h3>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary" onclick="newTasksCreate()">Новая задача</button>
                </div>
            </div>
            Фильтр:
            <form class="form-inline" action="" method="GET">
                <div class="form-group">
                    <label for="mol">МОЛ</label>
<!--                    <input type="text" class="form-control-sm" id="mol" name="mol" ng-model="filterForm.mol" th:value="">-->
                    <select class="form-control-sm" id="mol"
                            name="mol"
                            ng-model="filterForm.mol"
                            ng-options="mol for mol in mols track by mol"
                    >
                    </select>
                </div>
                <div class="form-group">
                    <label for="department">Email</label>
                    <select class="form-control-sm" id="department"
                            name="codeDepartment"
                            ng-model="filterForm.department"
                            ng-options="department.nameDepartment for department in departments track by department.codeDepartment"
                    >
                    </select>

                </div>
                <button type="submit" class=" form-control-sm btn btn-primary">Применить</button>
            </form>
            <div class="row">
                <div class="col-md-3" th:text="'Найдено:' + ${totalElements}" ></div>
            </div>
            <div class="row">
                <div class="col-md-3" th:text="'Страница:' + ${page+1}"></div>
                <div class="col-md-3" th:text="' из ' +${totalPages-1}"></div>
                <div class="col-md-3" th:text="' Выводить по: ' + ${pageSize}"></div>
            </div>
            <table class="table table-sm table-hover table-fixed" id="user-tasks-table" width="0%">
                <thead id="thead-table-user-tasks">
                <tr class="head-table">
                    <th width="8%">Инв. №</th>
                    <th width="20%">Наименование</th>
                    <th width="8%">Вид использ.</th>
                    <th width="20%">Имя группы</th>
                    <th>Подразделение</th>
                    <th>Внесистемный</th>
                    <th>Дата постан.</th>
                </tr>
                </thead>

                <tbody id="table-body">
                <tr style="cursor: pointer; " th:each="item : ${dataList}">
                    <td th:text="${item.invNumber}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.typeUtilize}"></td>
                    <td th:text="${item.nameGroup}"></td>
                    <td th:text="${item.nameDepartment}"></td>
                    <td th:text="${item.nonSystem}"></td>
                    <!--<td th:text="${item.datePostings}"></td>-->
                    <td><span th:if="${item.datePostings != null}"
                              th:text="${#temporals.format(item.datePostings,'dd.MM.yyyy')}"></span></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

<div th:include="common :: footer"></div>